
# ####################################### IPS & USER SECTION ###################################################
cluster_prv_ip: internalIP
cluster_pub_ip: externalIP
user: username

# ###################################### KUBERNETES VERSION & CONFIG SECTION ###################################
# The kubernetes version you need to install
# Please be careful of the fact that version form is different in Ubuntu and and CentOS
# For Example in Ubuntu we have 1.19.0-00, in centOS it is 1.19.0
# Leave empty to install the defaul version which is 1.19.0-00

UBUNTU_K8S_VERSION: 1.19.0-00
CENTOS_K8S_VERSION: 1.19.0

# Do not change token_file value, unless you know what you are doing
token_file: join_token
# Choose if you would like to taint the master or no. default is no.
TAINTED: no


# ###################################### KUBERNETES FEATURES VERSIONS & CONFIG SECTION ###################################
# For easy update/upgrade, just change the URL:


POD_NETWORK : weavenet

LetEncrypytEmail : mymail

INGRESS_URL: https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.41.0/deploy/static/provider/cloud/deploy.yaml
OPENEBES_URL: https://openebs.github.io/charts/openebs-operator.yaml
CERTMANAGER_URL: https://github.com/jetstack/cert-manager/releases/download/v0.12.0/cert-manager.yaml


# ###################################### ENVIRONMENT & PROXY CONFIG SECTION ###################################

proxy_env:
  http_proxy: 
  https_proxy: 
  no_proxy: 

docker_proxy: no

